src/main/mule/retail_product_system_api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <http:listener-config name="retail_product_system_api-httpListenerConfig" basePath="${http.basePath}">
        <http:listener-connection host="0.0.0.0" port="${http.port}" />
    </http:listener-config>
    <apikit:config name="retail_product_system_api-config" api="retail_product_system_api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="retail_product_system_api-main">
        <http:listener config-ref="retail_product_system_api-httpListenerConfig" path="${http.path}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="retail_product_system_api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="retail_product_system_api-console">
        <http:listener config-ref="retail_product_system_api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="retail_product_system_api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\categories:retail_product_system_api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  categories: [
    {
      identifier: "67912d0b-1dfa-4a62-a552-f0d01d5b0c79",
      name: "Hats",
      description: "Pants"
    }, 
    {
      identifier: "d3d0d1fd-b33c-4d40-b559-04665aa9ead6",
      name: "Hats",
      description: "Hats"
    }, 
    {
      identifier: "5e5b095e-8b60-429c-98bf-da36afeb1f1c",
      name: "Shirts",
      description: "Shirts"
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\products:retail_product_system_api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  products: [
    {
      brand: "Anypoint",
      identifier: "e1c515f9-102d-4830-b353-18fe48065732",
      model: "Uniforms Modern Fit Short Sleeve Polo Shirt",
      rating: 5,
      description: "Machine Wash, Tumble Dry. True to Size. This is a good product.",
      pictures: [
        "https://images-na.ssl-images-amazon.com/images/I/41p0XBBb6vL.jpg"
      ],
      price: {
        amount: {
          currency: "USD",
          currencyValue: 12.95,
          name: "Amount"
        },
        salesUnit: {
          code: "EA",
          name: "EACH"
        }
      }
    }, 
    {
      brand: "Anypoint",
      identifier: "e1c515f9-102d-4830-b353-18fe48065732",
      model: "Uniforms Modern Fit Short Sleeve Polo Shirt",
      rating: 5,
      description: "Machine Wash, Tumble Dry. True to Size.",
      pictures: [
        "https://images-na.ssl-images-amazon.com/images/I/41p0XBBb6vL.jpg"
      ],
      price: {
        amount: {
          currency: "USD",
          currencyValue: 12.95,
          name: "Amount"
        },
        salesUnit: {
          code: "EA",
          name: "Each"
        }
      }
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\categories\(categoryId)\products:retail_product_system_api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="categoryId">attributes.uriParams.'categoryId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  products: [
    {
      brand: "Anypoint",
      identifier: "e1c515f9-102d-4830-b353-18fe48065732",
      model: "Uniforms Modern Fit Short Sleeve Polo Shirt",
      rating: 5,
      description: "Machine Wash, Tumble Dry. True to Size. This is a good product.",
      pictures: [
        "https://images-na.ssl-images-amazon.com/images/I/41p0XBBb6vL.jpg"
      ],
      price: {
        amount: {
          currency: "USD",
          currencyValue: 12.95,
          name: "Amount"
        },
        salesUnit: {
          code: "EA",
          name: "EACH"
        }
      }
    }, 
    {
      brand: "Anypoint",
      identifier: "e1c515f9-102d-4830-b353-18fe48065732",
      model: "Uniforms Modern Fit Short Sleeve Polo Shirt",
      rating: 5,
      description: "Machine Wash, Tumble Dry. True to Size.",
      pictures: [
        "https://images-na.ssl-images-amazon.com/images/I/41p0XBBb6vL.jpg"
      ],
      price: {
        amount: {
          currency: "USD",
          currencyValue: 12.95,
          name: "Amount"
        },
        salesUnit: {
          code: "EA",
          name: "Each"
        }
      }
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\products\(productId)\variants:retail_product_system_api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="productId">attributes.uriParams.'productId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  variants: [
    {
      productId: "e1c515f9-102d-4830-b353-18fe48065732",
      identifier: "84ce61ca-c1bd-495e-8111-d31b596886ed",
      pictures: [
        "https://images-na.ssl-images-amazon.com/images/I/41SuDJi3xRL.jpg"
      ],
      price: {
        amount: {
          currency: "USD",
          currencyValue: 12.95,
          name: "Amount"
        },
        salesUnit: {
          code: "EA",
          name: "EACH"
        }
      },
      configuration: [
        {
          characteristic: {
            code: "color",
            description: "Color Variant",
            name: "Color Variant"
          },
          characteristicValue: {
            code: "burgundy",
            name: "burgundy"
          }
        }, 
        {
          characteristic: {
            code: "size",
            description: "Size Variant",
            name: "Size Variant"
          },
          characteristicValue: {
            code: "large",
            name: "large"
          }
        }
      ]
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\categories\(categoryId):retail_product_system_api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="categoryId">attributes.uriParams.'categoryId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  identifier: "49ed1d7f-9583-40aa-8e80-bfea709b16a4",
  name: "Most popular items",
  description: "Most popular items"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\products\(productId):retail_product_system_api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="productId">attributes.uriParams.'productId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  brand: "Anypoint",
  identifier: "e1c515f9-102d-4830-b353-18fe48065732",
  categoryId: [
    "49ed1d7f-9583-40aa-8e80-bfea709b16a4"
  ],
  model: "Uniforms Modern Fit Short Sleeve Polo Shirt",
  rating: 5,
  description: "Machine Wash, Tumble Dry. True to Size. Stretchable, waterproof and washable",
  pictures: [
    "https://images-na.ssl-images-amazon.com/images/I/41p0XBBb6vL.jpg"
  ],
  price: {
    amount: {
      currency: "USD",
      currencyValue: 12.95,
      name: "Amount"
    },
    salesUnit: {
      code: "EA",
      name: "EACH"
    }
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\products\(productId)\variants\(variantId):retail_product_system_api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="productId">attributes.uriParams.'productId'</ee:set-variable>
                <ee:set-variable variableName="variantId">attributes.uriParams.'variantId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  productId: "e1c515f9-102d-4830-b353-18fe48065732",
  identifier: "84ce61ca-c1bd-495e-8111-d31b596886ed",
  pictures: [
    "https://images-na.ssl-images-amazon.com/images/I/41SuDJi3xRL.jpg"
  ],
  price: {
    amount: {
      currency: "USD",
      currencyValue: 12.95,
      name: "Amount"
    },
    salesUnit: {
      code: "EA",
      name: "EACH"
    }
  },
  configuration: [
    {
      characteristic: {
        code: "color",
        description: "Color Variant",
        name: "Color Variant"
      },
      characteristicValue: {
        code: "burgundy",
        name: "burgundy"
      }
    }, 
    {
      characteristic: {
        code: "size",
        description: "Size Variant",
        name: "Size Variant"
      },
      characteristicValue: {
        code: "large",
        name: "large"
      }
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
